<footer class="site-footer">
  <div class="footer-wrapper">
    <div class="footer-top">
      <div class="footer-left">
        <div class="footer-brand">
          <a href="../index.html" class="ft-logo">
            <img src="../assets/images/footer-logo.svg" alt="logo">
          </a>
          <p data-i18n="footer_description">
            Lusail’s 5.38km circuit hosts top races like F1®, MotoGP™, and WEC. With flexible layouts, it’s
            perfect for motorsport, corporate, and community events.
          </p>
        </div>

        <div class="footer-column">
          <h4 data-i18n="footer_quick_links">Quick Links</h4>
          <ul class="footer-list">
            <li><a href="https://lcsc.qa/home" data-i18n="footer_tenders">Tenders & Auctions</a></li>
            <li><a href="https://lcsc.qa/terms-conditions" data-i18n="footer_ticket_terms">LIC Ticket Terms & Conditions</a></li>
            <li><a href="https://lcsc.qa/privacy-policy" data-i18n="footer_privacy_policy">LIC Privacy Policy</a></li>
            <li><a href="https://lcsc.qa/faq" data-i18n="footer_faq">FAQ's</a></li>
            <li><a href="https://lcsc.qa/contact-us" data-i18n="footer_contact">Contact Us</a></li>
            <li><a href="https://lcsc.qa/home" data-i18n="footer_careers">Careers at LIC</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-column">
        <h4 data-i18n="footer_lusail_app">Lusail App</h4>
        <div class="app-buttons">
          <a href="https://play.google.com/store/apps/details?id=lic.licint.qa">
            <img src="../assets/images/google-play.svg" alt="google">
          </a>
          <a href="https://apps.apple.com/qa/app/lic-app/id6469450761">
            <img src="../assets/images/app-store.svg" alt="app">
          </a>
        </div>
      </div>
    </div>

    <hr class="footer-divider">

    <div class="footer-contact">
      <div class="contact-grid">
        <h3 class="contact-title" data-i18n="footer_get_in_touch">Get In Touch With Us</h3>

        <div class="contact-item" style="align-items: start;">
          <div class="icon-box"><img src="../assets/images/map.svg" alt="map"></div>
          <div class="contact-text">
            <strong data-i18n="footer_address_label">Address</strong>
            <p data-i18n="footer_address_text">Lusail International Circuit, Al Wusail, North Relief Road PO Box 23931 Doha, Qatar</p>
          </div>
        </div>

        <div class="contact-item">
          <div class="icon-box"><img src="../assets/images/clock.svg" alt="clock"></div>
          <div class="contact-text">
            <strong data-i18n="footer_hours_label">Opening Hours</strong>
            <p data-i18n="footer_hours_text">8:00 AM - 4:00 pm</p>
          </div>
        </div>

        <div class="contact-item">
          <div class="icon-box"><img src="../assets/images/mobile.svg" alt="mobile"></div>
          <div class="contact-text">
            <strong data-i18n="footer_phone_label">Phone</strong>
            <a href="tel:+97444459555" data-i18n="footer_phone_text">+974 4445 9555</a>
          </div>
        </div>

        <div class="contact-item">
          <div class="icon-box"><img src="../assets/images/sms.svg" alt="sms"></div>
          <div class="contact-text">
            <strong data-i18n="footer_email_label">Email</strong>
            <a href="mailto:info@lcsc.qa" data-i18n="footer_email_text">info@lcsc.qa</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
      <p data-i18n="footer_copyright">Copyright © 2026. All rights reserved.</p>

      <div class="social-links social-links-2">
        <a href="https://www.facebook.com/Lusailinternationalcircuit/">
          <img src="../assets/images/fb-white.svg" alt="fb">
        </a>
        <a href="https://x.com/lusailcircuit">
          <img src="../assets/images/x-mark-white.svg" alt="twiter">
        </a>
        <a href="https://www.instagram.com/lusailcircuit/">
          <img src="../assets/images/insta-white.svg" alt="insta">
        </a>
        <a href="https://www.youtube.com/@LusailCircuit_Official">
          <img src="../assets/images/yt-white.png" alt="yt">
        </a>
      </div>

      <div class="legal-links">
        <a href="https://lcsc.qa/terms-conditions" data-i18n="footer_terms">Terms & Conditions</a>
        <a href="https://lcsc.qa/privacy-policy" data-i18n="footer_privacy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>