<header>
  <div class="header-container">
    <div class="logo-section">
      <a href="../index.html" class="logo-subtext">
        <img src="../assets/images/logo.svg" alt="logo" />
      </a>
    </div>

    <div class="nav-wrapper">
      <div class="top-bar">
        <div class="social-links">
          <a href="https://www.facebook.com/Lusailinternationalcircuit/">
            <img src="../assets/images/fb-white.svg" alt="fb" />
          </a>
          <a href="https://x.com/lusailcircuit">
            <img src="../assets/images/x-mark-white.svg" alt="twitter" />
          </a>
          <a href="https://www.instagram.com/lusailcircuit/">
            <img src="../assets/images/insta-white.svg" alt="insta" />
          </a>
          <a href="https://www.youtube.com/@LusailCircuit_Official">
            <img src="../assets/images/yt-white.png" alt="yt" />
          </a>
        </div>

        <div class="lang-selector">
          <span class="currentLang">EN</span>
          <div class="country-flag">
            <img class="flagImg" src="../assets/images/us.svg" />
          </div>
        </div>
      </div>

      <nav class="main-nav">
        <ul class="nav-links" id="navLinks">
          <li
            ><a href="index.html" data-nav="home" data-i18n="menu_home">Home</a></li
          >

          <li
            ><a
              href="index.html#events-adults"
              class="nav-events-link"
              data-nav="adults"
              data-events="adults"
              data-i18n="menu_adults"
              >ADULTS</a
            >
          </li>
          <li
            ><a
              href="index.html#events-kids"
              class="nav-events-link"
              data-nav="kids"
              data-events="kids"
              data-i18n="menu_kids"
              >KIDS</a
            ></li
          >
          <li
            ><a
              href="pages/support.html"
              class="nav-support-link"
              data-nav="support"
              data-i18n="menu_support"
              >SUPPORT</a
            ></li
          >

          <li class="hide-nav-item">
  <a href="#" class="has-submenu">
    <span>REGISTER</span>
    <i class="fa-regular fa-angle-down"></i>
  </a>

  <ul class="submenu">
    <li><a href="../pages/register.html">Sign Up</a></li>
    <li><a href="../pages/login.html">Login</a></li>
  </ul>
</li>

          <div class="social-links">
            <a href="https://www.facebook.com/Lusailinternationalcircuit/">
              <img src="../assets/images/fb-white.svg" alt="fb" />
            </a>
            <a href="https://x.com/lusailcircuit">
              <img src="../assets/images/x-mark-white.svg" alt="twitter" />
            </a>
            <a href="https://www.instagram.com/lusailcircuit/">
              <img src="../assets/images/insta-white.svg" alt="insta" />
            </a>
            <a href="https://www.youtube.com/@LusailCircuit_Official">
              <img src="../assets/images/yt-white.png" alt="yt" />
            </a>
          </div>
        </ul>

        <a href="#" class="user-profile-main">
          <div class="user-avater">
            <img src="../assets/images/mahmoud-user.jpg" alt="user">
          </div>
          <span data-i18n="user_muhmoud">Tarik</span>
        </a>

        <div class="flex-mbl">
          <div class="mobile-toggle" id="mobileToggle">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div class="lang-selector lang-selector-res">
            <span class="currentLang">EN</span>
            <div class="country-flag">
              <img class="flagImg" src="../assets/images/us.svg" />
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
